
<div class="my-3"> 
        <h5 [ngClass] = "{'strike': !todo.isActive}">{{todo.title}}</h5>
        <p [ngClass] = "{'strike': !todo.isActive}">{{todo.desc}}</p>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" (click)="onCheckBoxClick(todo)" [checked]="!todo.isActive">
            <label class="form-check-label" >Done</label>
          </div>
        <button style="margin-bottom: 10px;" class="btn btn-sm btn-danger" (click)="onClick(todo)">
            Delete
        </button>
</div>